[submodule "multi-view-prompting-acosi"]
	path = multi-view-prompting-acosi
	url = git@github.com:qwzhaox/multi-view-prompting-acosi.git
[submodule "LLM-acosi"]
	path = LLM-acosi
	url = git@github.com:qwzhaox/LLM-acosi.git
[submodule "ACOSI_simple"]
	path = ACOSI_simple
	url = git@github.com:qwzhaox/ACOSI_simple.git
[submodule "ACOS"]
	path = ACOS
	url = git@github.com:qwzhaox/ACOS.git
[submodule "Shoes-ACOSI"]
	path = Shoes-ACOSI
	url = git@github.com:qwzhaox/Shoes-ACOSI.git
[submodule "GEN_SCL_NAT_acosi"]
	path = GEN_SCL_NAT_acosi
	url = git@github.com:qwzhaox/GEN_SCL_NAT_acosi.git
